{% extends "base.html" %}
{% block content %}
<div class="form-wrapper row justify-content-center h-100">
    <div class="col-8 col-md-6 col-lg-4 bg-secondary pb-4 rounded shadow align-self-center">
        <h1 class="display-3 text-center">Login</h1>
        <p class="lead text-center">{{body}}</p>
        <form method="POST">
        {{ form.hidden_tag() }}

        {% for field in form
            if field.widget.input_type != 'hidden' %}
        <fieldset>
            {{ field.label }}
            {{ field(class_="form-control") }}

            {% for error in field.errors %}
            <span class="form-text text-danger">{{ error }}</span>
            {% endfor %}
        </fieldset>
        {% endfor %}
        <button type="submit" class="mt-2 btn btn-primary form-control">Login</button>
        </form>
        <small class="d-block text-center">Dont have an account <a href="/auth/register">Sign up.</a></small>
    </div>
</div>

{% endblock content %}